body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} 

.main-body{
    margin-left: 100px;
    margin-right: auto;
}

footer{
    padding:10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:url(footer.jpg);
    font-family: Arial;
    text-align: center;
    color: rgb(139, 137, 137);
}